<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>
  <b>Body:</b>
  <%= @article.body %>
</p>

<p>
  <b>Date:</b>
  <%= @article.date %>
</p>

<p>
  <b>Autor:</b>
  <%= @article.autor %>
</p>

<%= link_to 'Eliminar', @article, :method => :delete %> |
<%= link_to 'Editar', edit_article_path(@article) %> |
<%= link_to 'Volver a artículos', articles_path %>
